<section id="logo">
   <img src="/assets/img/logo.png" alt="">
</section>


<main class="wide">
   <div class="container">
      {{!-- On the table  --}}
      <section class="here">
         <h2>on your table</h2>
         <div class="each-line">{{#each burgers}} {{#unless devoured}} 
            <p>{{this.burger_name}}</p>
            <a href="{{this.id}}">devour it!</a>
         {{/unless}} {{/each}}</div>
      </section>

      {{!-- Devoured  --}}
      <section class="gone">
         <h2>devoured</h2>
         <div class="each-line">{{#each burgers}} {{#if devoured}} 
            <p>{{this.burger_name}}</p>
            <a href="{{this.id}}">trash</a>
         {{/if}} {{/each}}</div>
      </section>

      {{!-- Create --}}
      <form class="create-form">
         <input type="text" id="cb" name="burger_name" placeholder="create your burger!">
         <a href="{{this.id}}" name="devoured" value="0">create</a>
      </form>
   </div>
</main>