<main class="wide">
   <section id="logo">
      <img src="/assets/img/logo.png" alt="">
   </section>
   <div class="container">
      {{!-- On the table  --}}
      <section class="here">
         <h2>on your table</h2>
         <div class="each-line">{{#each burgers}} {{#unless this.devoured}} 
            <p>{{burger_name}}</p>
            <button class="change-devoured" data-id="{{this.id}}" data-devoured="{{this.devoured}}">devour it!</button>
         {{/unless}} {{/each}}</div>
      </section>

      {{!-- Devoured  --}}
      <section class="gone">
         <h2>devoured</h2>
         <div class="each-line">{{#each burgers}} {{#if devoured}} 
            <p>{{burger_name}}</p>
            <button class="delete-burger" data-id="{{this.id}}">trash</button>
         {{/if}} {{/each}}</div>
      </section>

      {{!-- Create --}}
      <form class="create-form">
         <input type="text" id="cb" name="burger_name" placeholder="create your burger!">
         <button type="submit">create</button>
      </form>
   </div>
</main>